*{background: #DEB887;align: middle;}p{background-colour:beige;
font-family:"open_sans" sans-serif;
font-size:15px;
font-weight:500;
text-align:"centre" img-align:"center";}

a:link{colour:ivory;
font-weight:400;
text-decoration: underline;}
a:hover{colour: ivory}
